.about-section {
  background-color: #fff;
  margin-top: 20px;
  padding: 40px;
  border-radius: 10px;
  h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  table,
  tr,
  td,
  strong {
    padding-right: 40px;
  }
}
